html {
    background: linear-gradient(45deg, #22223b 0%, #4a4e69 35%, #9a8c98 100%);
    height: 100%;
    scrollbar-color: grey black;
    background-attachment: fixed;
}

body {
    color: white;
    font-family: "Rubik", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.page-wrapper {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 1rem 0 1rem;
}

.social-bar{
    height: 0px;
}

.fa {
    padding: 20px;
    font-size: 30px !important;
    text-align: center;
    text-decoration: none;
    margin: 5px 8px;
    border-radius: 50%;
    color: white;
    position: relative;
    z-index: 10;
    top: -15px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
}

.fa-linkedin {
  background: #007bb5;
}

.fa-github {
  background: #ff6600;
}

img.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.avatar-border-wrap {
    background: linear-gradient(135deg,#e6690f,#dd053b 35%,#33bbc5 80%);
    padding: 7px;
    margin: 0px auto;
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
}

.title-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 25px 0px;
    text-align: center;
    box-shadow: 0px 0px 38px 7px rgba(0,0,0,0.35);
}


.main-content-container {
    border: white 5px solid;
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
}

.site-footer {
    background: #111;
}

.footer-container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 1rem 0 1rem;
}